.rowout{
    display: flex;
    justify-content: stretch;
    align-items: center;

    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.rowout div{
    text-align: center;
    font-weight: 600;
}

.id{
    flex: 1 0 10%;
}

.name{
    flex: 2 0 25%;
}

.phone{
    flex: 2 0 25%;
}

.time{
    flex: 1 0 20%;
}

.hostel{
    flex: 1 0 20%;
}

@media screen and (max-width: 500px) {
    .rowout{
        flex-wrap: wrap;
    }
    .phone{
        order: 1;
        flex: 1 0 50%;
        margin-top: 10px; 
    }
    .hostel{
        order: 2;
        flex: 1 0 50%;
        margin-top: 10px; 
    }
    .id{
        flex: 1 0 25%;
    }
    .name{
        flex: 2 0 40%;
    }
    .time{
        flex: 1 0 35%;
    }
}

.table{
    width: 75%;
    margin: auto;
    margin-top: 15px;
}

.header, .row{
    display: flex;
    justify-content: stretch;
    align-items: center;

    padding: 5px;
}

.header>*{
    text-align: center;
    font-weight: 600;
}

.row>*{
    text-align: center;
}

.item_id{
    flex: 1 0 20%;

}

.item_name{
    flex: 2 0 30%;
}

.quantity{
    flex: 1 0 20%;
}

.price{
    flex: 2 0 30%;
}

.container, .container2, .container3, .container4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
}

.container4{
    padding: 0 5px;
}

.container2{
    padding: 0;
}

.container3 div{
    font-size: 25px;
    font-weight: 600;
}

.modal{
    border: 2px solid black;
    margin-bottom: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;

    padding: 15px 10px;
}

.btn .deliver, .btn .cancel{
    width: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.btn .deliver{
    background: #82f43c ;
}

.btn .cancel{
    background: #CB072B;
    color: white;
}

@media screen and (max-width: 500px) {
    .table{
        width: 92%;
    }
    .item_id{
        display: none;
    }
    .item_name{
        flex: 1 0 50%;
        text-align: left;
    }
    
    .quantity{
        flex: 1 0 20%;
    }
    
    .price{
        flex: 1 0 30%;
        text-align: right;
    }

    .btn .deliver, .btn .cancel{
        padding: 10px 20px;
    }
}