.order_summary{
    width: 87%;
    margin-left: 13%;
    background-color: white;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 11;
}

.semi_details{
    box-shadow: 0 -5px 3px -3px #00000030;
    border-top: 2px solid  lightgray;
    position: relative;
    z-index: 4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
}

.order_summary .details .price{
    font-size: 35px;
    font-weight: 600;
}

.order_summary .details .additional{
    font-size: 13px;
    font-weight: 400;
}

.order_summary .btn{
    position: relative;
}

.order_summary .summary_btn{
    border: 2px solid black;
    padding: 10px 20px;
    background: #00EA6C;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;

    font-size: 25px;
    font-weight: 600;
}

.order_summary .items{
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-weight: 600;
    font-size: 19px;

    padding: 2px;
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 950px) {
    .order_summary{
        width: 100%;
        margin: 0;
        
    }

    .semi_details{
        padding: 15px 20px;
    }


    .order_summary .details .price{
        font-size: 22px;
    }

    .order_summary .details .additional{
        font-size: 10px;
    }

    .order_summary .summary_btn{
        font-size: 15px;
        padding: 5px 10px;
    }

    .order_summary .items{
        font-size: 10px;
        width: 20px;
        top: -2px;
        right: -5px;
    }

}