.container{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 25;
}

.navbar{
    background: #00EA6C;
    padding: 10px 40px;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo_number{
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.navbar .logo{
    height: 100%;
    aspect-ratio: 1/1;
}

.navbar .logo_number img{
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
}

.logo_number p{
    font-size: 17px;
    font-weight: 600;
}

.logo_number a{
    /* text-decoration: none; */
    color: black;
    font-weight: 600;
}

.name_tab{
    border-radius: 50px;
    border: 2px solid #000;
    background: #FFF;
    padding: 10px 20px;
    min-width: 13%;

    display : flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;

    position: relative;

    cursor: pointer;
}

.name_tab .name{
    font-weight: 600;
}

.arrow{
    height: 20px;
}

.arrow img{
    height : 100%;
}

.name_tab .open{
    transform:  rotate(-180deg);
}

.name_tab .close{
    transform:  rotate(0);
}

@media only screen and (max-width: 500px) {
    .navbar{
        padding: 10px 20px;
    }

    .navbar .logo{
        height: 80%;
        aspect-ratio: 1/1;
    }

   .logo_number p{
        font-size: 14px;
   }
}
