.rowout{
    display: flex;
    justify-content: stretch;
    align-items: center;

    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.rowout div{
    text-align: center;
    font-weight: 600;
}

.id{
    flex: 1 0 10%;
}

.name{
    flex: 2 0 20%;
}

.phone{
    flex: 2 0 20%;
}

.date{
    flex: 2 0 20%;
}

.time{
    flex: 1 0 15%;
}

.hostel{
    flex: 1 0 15%;
}


.table{
    width: 70%;
    margin: auto;
    margin-top: 15px;
}

.header, .row{
    display: flex;
    justify-content: stretch;
    align-items: center;

    padding: 5px;
}

.header div{
    text-align: center;
    font-weight: 600;
}

.row div{
    text-align: center;
}

.item_id{
    flex: 1 0 20%;

}

.item_name{
    flex: 2 0 30%;
}

.quantity{
    flex: 1 0 20%;
}

.price{
    flex: 2 0 30%;
}

.container, .container2, .container3, .container4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
}

.container4{
    padding: 0 5px;
}

.container2{
    padding: 0;
}

.container3 div{
    font-size: 25px;
    font-weight: 600;
}

.modal{
    border: 2px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;

    padding: 15px 10px;

}

.btn .deliver, .btn .cancel{
    width: 20%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px  10px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.btn .deliver{
    background: #82f43c ;
}

.btn .cancel{
    background: #CB072B;
    color: white;
}

.payment_id{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}