.container{
    width: 80%;
    margin: auto;
}

.category .heading{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 15px;
}

.category .heading h2{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.delete_btn, .submit_btn{
    border: 2px solid black;
    padding: 5px 8px;
    border-radius: 5px;
    background: red;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.submit_btn{
    padding: 5px 15px;
    background: rgb(60, 255, 60);
    color: black;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;
    margin: 15px 0;
}

.form{
    width: 50%;
    margin: 25px auto;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;

}

.form .textbox{
    width: 85%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.error{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #F00;
    align-self: flex-start;
    font-size: 15px;
    padding:0 0 2px 5px;
}

input{
    height: 40px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
    font-weight: 600;
    color: black;
}

input::placeholder{
    font-weight: 400;
    color: black;
}

.error_box{
    border: 2px solid red;
}

.submit_btn{
    border-radius: 10px;
    background: #00EA6C;

    width: 150px;
    padding: 10px 30px;
    color: black;
    font-weight: 600;
    font-size: 15px;

    cursor: pointer;
}

.box{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 48.5%;
}

.box .name{
    font-weight: 600;
}

.box .price{
    font-weight: 400;
}

.price_delete{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.fields{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.fields input{
    width: 45%;
}