.container{
    width: 83vw;
    min-height: 100vh;
    padding: 25px 40px;
    
}

@media screen and (max-width: 750px) {
    .container{
        width: 100vw;
    }
}

.conatiner h1{
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
    margin-bottom: 20px;
}

.form{
    width: 50%;
    margin: 25px auto;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;

}

.form .textbox{
    width: 85%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.error{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #F00;
    align-self: flex-start;
    font-size: 15px;
    padding:0 0 2px 5px;
}

input{
    height: 40px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
    font-weight: 600;
    color: black;
}

input::placeholder{
    font-weight: 400;
    color: black;
}

.error_box{
    border: 2px solid red;
}

.submit_btn{
    border-radius: 10px;
    background: #00EA6C;

    width: 150px;
    padding: 10px 30px;
    color: black;
    font-weight: 600;
    font-size: 15px;

    cursor: pointer;
}
