.container{
    width: 83vw;
    min-height: 100vh;
}

.container{
    width: 83vw;
    min-height: 100vh;
    margin-bottom: 35px;
}

h1{
    margin-top: 20px;
}

.table{
    margin: 0 auto;
    margin-top: 35px;
    width: 75%;
}

.header, .row{
    display: flex;
    justify-content: stretch;
    align-items: center;

    padding: 5px;
    font-size: 20px;
}

.header div{
    text-align: center;
    font-weight: 600;
}

.row div{
    text-align: center;
}

.id{
    flex: 1 0 10%;
}

.name{
    flex: 2 0 20%;
}

.phone{
    flex: 2 0 20%;
}

.date{
    flex: 1 0 20%;
}

.time{
    flex: 1 0 15%;
}

.hostel{
    flex: 1 0 15%;
}

/* Pagination */
.outer{
    height: 20%;
    margin: 25px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.outer .click_no{
    cursor: not-allowed;
    background-color: lightgrey;
    color: black;
}

.outer div{
    border: 2px solid black;
    background-color: lightslategrey;
    padding: 5px 10px ;
    border-radius: 5px;
    cursor: pointer
}

.outer .left_arrow{
    font-size: 15px;
}

.right_arrow{
    font-size: 15px;
}

.outer .current{
    background: #000;
    color: white;
}