.outer{
    width: 83vw;
    min-height: 100vh;
}

@media screen and (max-width: 750px) {
    .outer{
        width: 100vw;
    }
}

.heading{
    margin: 25px 100px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1{
    font-size: 40px;
}

.heading .form{
    width: 30%;
    height: 60px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.heading .form input{
    display: block;
    height:50px;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid black;
    outline: none;
    font-weight: 600;
    color: black;
}

input::placeholder{
    font-weight: 600;
    color: black;
}

.heading .form .cross{
    background: #00EA6C;
    font-weight: 400;
    font-size: 25px;
    height: 50px;
    aspect-ratio: 1/1;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
    border-left: none;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.heading .form .cross img{
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .heading{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .heading h1{
        width: 100vw;
    }

    .heading .form{
       width: 60vw;
       margin: auto;
    }
}

.container{
    width: 95%;
    margin: auto;
    padding-bottom: 10vh;
}

.category .head{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px;
}

.category .head h2{
    font-size: 20px;
    font-weight: 600;
}

.items{
    padding: 50px 100px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;
    padding: 10px 5px;
}

.no_items{
    padding-top: 65px;

    font-size: 35px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .items{
        width: 85vw;
        padding: 30px  0;
        margin: auto;
    }

    .category .head{
        text-align: center;
    }

    .category{
        padding: 15px 0;
    }
}