.outer{
    width: 60vw;
    margin: auto;
    position: relative;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1350px) {
    .outer{
    width: 80vw;
  }
}

@media only screen and (max-width: 1000px) {
    .outer{
    width: 90vw;
  }
}

.outer h1{
    margin-bottom: 20px;

}

.table{
    display: flex;
    flex-direction: column;
    gap: 10p
}

.table .header{
    font-weight: 600; 
}

.table .header, .table .rows{
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 5px;
    border-radius: 5px;

}

.table .rows:hover{
    background: #d3d3d3;
    cursor: pointer
}


.id{
    flex: 1;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.date{
    flex: 3;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.time{
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.hostel{
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.status{
    flex: 2;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.btn{
    flex: 2;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

@media only screen and (max-width: 650px) {
    .status, .btn, .hostel{
    display: none;
  }

    .id{
        padding: 0;
    flex: 1 0 20%;
  }

  .date{
    flex: 1 0 40%;
  }

  .time{
    flex: 1 0 25%;
  }

}

.end{
    text-align: center;
    font-weight: 600;
    margin: 20px 0;

    font-size: 20px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;

}
  
  .loading__dot {
    animation: dot ease-in-out 1s infinite;
    background-color:  #7ed2a5;
    display: inline-block;
    height: 20px;
    margin: 10px;
    width: 20px;
    border-radius: 50%;
  }
  
  .loading__dot:nth-of-type(2) {
    animation-delay: 0.2s;
  }
  
  .loading__dot:nth-of-type(3) {
    animation-delay: 0.3s;
  }
  
  @keyframes dot {
    0% { background-color: #7ed2a5; transform: scale(1); }
    50% { background-color: #00EA6C; transform: scale(1.3); }
    100% { background-color: #7ed2a5; transform: scale(1); }
  }