@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    width: 100%;
    padding: 25px 0 ;
}

.conatiner{
    width: 25%;
    border: 2px solid black;
    padding: 25px 0;
    border-radius: 10px;
    background-color: whitesmoke;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redirect{
  display: flex;
  flex-direction: column;
}

.separator{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-weight: 600;
}

.separator hr{
  width: 100%;
  background: #000;
  height: 1px;
}



@media only screen and (max-width: 1300px) {
    .conatiner {
      width: 35%;
    }
  }

  @media only screen and (max-width: 850px) {
    .conatiner {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 560px) {
    .conatiner {
      width: 65%;
    }
  }  

  @media only screen and (max-width: 460px) {
    .conatiner {
      width: 80%;
    }
  }    

.heading{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outer h3{
    font-size: 30px;
    font-weight: 600;
}

.warning{
    font-weight: 600;
    text-align: center;
    margin: 5px 0 10px 0; 
}

.conatiner .textbox{
    width: 85%;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    position: relative;
}

.error{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #F00;
    align-self: flex-start;
    font-size: 15px;
    padding:0 0 2px 5px;
}

input, select{
    height: 40px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
    font-weight: 600;
    color: black;
}

input::placeholder, select::placeholder{
    font-weight: 400;
    color: black;
}

.error_box{
    border: 2px solid red;
}

.submit_btn{
    border-radius: 10px;
    background: #00EA6C;
    /* width: 50%; */

    padding: 10px 30px;
    color: black;
    font-weight: 600;
    font-size: 15px;

    cursor: pointer;
}

.forget_password{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #e6312e;
    align-self: flex-end;
    font-size: 15px;
}

.password, .signup_password{
    position: absolute;
    right: 5%;
    bottom: 33px;
    height: 20px;
}

.signup_password{
    bottom: 12px;
}

a{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: #0046FB;
}

.menu_btn{
  background-color: #4169e1;
  color: white;
  border: 2px solid black;
}